cityscapesScripts==2.2.2
clip @ git+https://github.com/openai/CLIP.git@a1d071733d7111c9c014f024669f959182114e33
ipdb==0.13.11
matplotlib==3.6.3
numpy==1.21.6
openai==0.28.1
opencv_python==4.7.0.68
pandas==1.5.3
pavi==0.0.1
Pillow==9.5.0
prettytable==3.9.0
pycocotools==2.0.6
scipy==1.10.0
setuptools==59.5.0
transformers==4.34.0
yapf==0.40.1
future==0.18.3
tensorboard==2.14.0
